{% extends 'events/base.html' %}

{% block content %}
        <h1>Venue</h1>
        <br><br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Venue Name: {{ venue }}</h5>
                <p class="card-text">
                    <ul>
                        <li><strong>Address: </strong>{{ venue.address }}</li>
                        <li><strong>Zip Code: </strong>{{ venue.zipcode }}</li>
                        <li><strong>Phone: </strong>{{ venue.phone }}</li>
                        <li><strong>Website: </strong><a href="{{ venue.web }}">{{ venue.web }}</a></li>
                        <li><strong>Email: </strong>{{ venue.email_address }}</li>
                    </ul>
                </p>
                {% if user.is_authenticated %}
                    <a href="{% url 'update-venue' venue.id %}" class="btn btn-secondary btn-sm">Update</a>
                    <a href="{% url 'delete-venue' venue.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </div>
        </div>
{% endblock %}