{% extends 'events/base.html' %}

{% block content %}
        <h1>Venues</h1>
        <br><br>
        <table class="table table-hover table-bordered">
            {% for venue in venue_list %}
            <tr>
                <td>
                    <a style="text-decoration: none;" href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
                </td>
                {% if user.is_authenticated %}
                    <td align="right">
                        <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="{% url 'delete-venue' venue.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock %}